:root {
  --bg-dark: #0b0c10;
  --text-dark: #c5c6c7;
  --hero-text-dark: #66fcf1;
  --hero1-dark: #1f2833;
  --hero2-dark: #1f2833;
  --hero3-dark: #1f2833;
  --shadow-dark: var(--hero-text-dark);
  --focus-dark: var(--hero-text-dark);
  --glow-dark: var(--shadow-dark);
  --card-dark: #333131;

  --bg-light: #c5c6c7;
  --text-light: #0d2636;
  --hero-text-light: #0f0d0d;
  --hero1-light: #075b8b;
  --hero2-light: #b91b85;
  --hero3-light: #c10528;
  --shadow-light: var(--hero-text-light);
  --focus-light: var(--hero-text-light);
  --glow-light: var(--shadow-light);
  --card-light: #8d8d8e;

  --bar-width: 9vw;
  --bar-height: 1.2vw;
  --hamburger-gap: 1vw;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --hamburger-margin: 1.6vw;
  --hamburger-animation-timing: 200ms ease;
}

[color-scheme="dark"] {
  --bg: var(--bg-dark);
  --text: var(--text-dark);
  --hero-text: var(--hero-text-dark);
  --hero1: var(--hero1-dark);
  --hero2: var(--hero2-dark);
  --hero3: var(--hero3-dark);
  --shadow: var(--shadow-dark);
  --focus: var(--focus-dark);
  --glow: var(--glow-dark);
  --card: var(--card-dark);
  --card-inverse: var(--card-light);
}

[color-scheme="light"] {
  --bg: var(--bg-light);
  --text: var(--text-light);
  --hero-text: var(--hero-text-light);
  --hero1: var(--hero1-light);
  --hero2: var(--hero2-light);
  --hero3: var(--hero3-light);
  --shadow: var(--shadow-light);
  --focus: var(--focus-light);
  --glow: var(--glow-light);
  --card: var(--card-light);
  --card-inverse: var(--card-dark);
}

@font-face {
  font-family: FiraCode;
  src: url(Fonts/FiraCode_Retina.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(Fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: LeagueSpartan;
  src: url(Fonts/LeagueSpartan-Regular.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(Fonts/Poppins-Regular.ttf);
}

body {
  height: 100%;
  margin: 0px;
  background-color: var(--bg);
}

/* Home Page */

main {
  display: flex;
}

.welcome {
  color: var(--hero-text);
  font-family: Firacode;
  font-size: 4.2vw;
  text-transform: uppercase;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.intro {
  text-shadow: 0 0 7px var(--shadow), 0 0 3px var(--shadow);
  font-family: Roboto;
  font-size: 5vw;
}

.animation {
  height: 4.2vw;
  overflow: hidden;
  margin-left: 0.83vw;
}

.animation div div {
  padding: 0.21vw 0.63vw;
  height: 4.3vw;
  margin-bottom: 2.34vw;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 6s infinite;
}

.first div {
  background-color: var(--hero1);
}

.second div {
  background-color: var(--hero2);
}

.third div {
  background-color: var(--hero3);
}

.third div img {
  width: 3.1vw;
  height: 3.1vw;
  margin-left: 0.83vw;
}

@keyframes text-animation {
  0%,
  15%,
  90%,
  100% {
    margin-top: -0.42vw;
  }

  30%,
  45% {
    margin-top: -7.2vw;
  }

  60%,
  70% {
    margin-top: -13.9vw;
  }
}

/* Theme Button */

#theme {
  position: absolute;
  top: 1.3vw;
  right: 1.3vw;
  padding: 0.41vw;
  background-color: var(--text);
  border: none;
  border-radius: 100%;
  z-index: 1;
  box-shadow: 0 2px 16px 0 var(--shadow), 0 5px 50px 0 var(--shadow);
}

#theme img {
  height: 1.85vw;
  width: 1.85vw;
}

.for-else #theme {
  top: auto;
  bottom: 1.56vw;
  right: 1.56vw;
  position: fixed;
}

/* Navbar */

nav.bar {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 0.52vw;
  position: sticky;
  top: 0;
  border-top: var(--text) solid 0.1vw;
  z-index: 100;
  background-color: var(--bg);
}

.for-else nav.bar {
  border-top: none;
  border-bottom: var(--text) solid 0.1vw;
}

nav.bar li {
  width: 33%;
  list-style-type: none;
}

.navtab {
  display: inline-block;
  position: relative;
  color: var(--text);
  font-family: LeagueSpartan;
  font-size: 1.6vw;
}

.navtab::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.05vw;
  bottom: 0;
  left: 0;
  transition: transform 0.15s ease-out;
  background-color: var(--focus);
  box-shadow: 0 0 7px var(--shadow), 0 0 3px var(--shadow);
}

.navtab:hover::after {
  transform: scaleX(1);
}

li.current_tab {
  span.navtab {
    background: var(--card);
    padding: 0.1vw 0.3vw 0.1vw 0.3vw;
    border-radius: 10%;
  }
}

/* Hamburger Menu */

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.4142136);
  --offset: calc(var(--bar-height) / 2);
  display: none;
  flex-direction: column;
  gap: var(--hamburger-gap);
  position: absolute;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);
  z-index: 2;
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu::before,
.hamburger-menu input,
.hamburger-menu::after {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--text);
  border-radius: 100000px;
  transform-origin: left center;
  transition: all var(--hamburger-animation-timing);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(-1 * var(--offset));
  background-color: var(--bg);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 var(--offset);
  background-color: var(--bg);
}

.sidebar {
  display: none;
  flex-direction: column;
  position: fixed;
  right: 0;
  z-index: 1;
  text-align: center;
  gap: 4vw;
  padding: 1.6vw 3.2vw;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 7vw);
  background-color: var(--text);
  font-family: LeagueSpartan;
  font-size: 3.7vw;
  width: 30vw;
  min-height: 100vh;
  translate: 100%;
  transition: translate var(--hamburger-animation-timing);
}

.sidebar div a {
  color: var(--bg);
  text-decoration: none;
}

div.current_tab {
  background-color: var(--focus);
}
.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

.hamburger-menu:has(input:checked) + #theme {
  border: 1px solid black;
}

/* About Page */

.about-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.profile,
.description {
  width: 48%;
  margin: 2%;
}

h2.name {
  font-family: Poppins;
  color: var(--hero-text);
  font-size: 2.7vw;
  text-align: center;
}

p.formal_intro {
  color: var(--text);
  text-align: justify;
  font-family: LeagueSpartan;
  font-size: 1.5vw;
  padding-right: 1.3vw;
  margin: 5px;
}

#profile-pic {
  width: 50%;
  box-shadow: 0 4px 4px 4px var(--glow), 0 6px 20px 0 var(--glow);
  margin: 25px auto;
}

#profile-pic img {
  width: 100%;
  transform: scale(0.92);
  display: block;
  margin: 5px auto;
}

.textlink {
  text-decoration: none;
  color: var(--text);
}

.textlink:hover {
  filter: drop-shadow(0 0 7px var(--focus));
}

.bloglink {
  text-decoration: underline;
  color: var(--hero-text);
}

.box {
  display: flex;
  justify-content: space-evenly;
  margin: auto;

  width: 50%;
  height: auto;
}

#handles .box {
  width: 25%;
}

#handles .logo {
  width: 2.34vw;
  height: 2.34vw;
  margin: 1.04vw;
  transition: 0.25s ease-in;
}

#handles .logo:hover {
  transform: scale(1.25);
}

#skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  width: 50%;
}

/* Projects Page */

.timeline {
  position: relative;
  max-width: 80vw;
  margin: 5.2vw auto;

  & .container {
    padding: 0.52vw 2.6vw;
    position: relative;
    width: 50%;
    box-sizing: border-box;

    &:nth-child(odd) {
      left: 0;
      & .circle {
        right: -1.56vw;
      }

      & .textbox .arrow {
        right: -0.78vw;
        border-left: 0.8vw solid var(--card);
      }
    }

    &:nth-child(even) {
      left: 50%;
      & .circle {
        left: -1.56vw;
      }

      & .textbox .arrow {
        left: -0.78vw;
        border-right: 0.8vw solid var(--card);
      }
    }

    & .textbox {
      padding: 1.823vw;
      position: relative;
      font-size: 1.2vw;
      font-family: LeagueSpartan;
      color: var(--text);
      background: var(--card);
      border-radius: 10px;

      & .head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & .stack {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          & img {
            width: 2.604vw;
            margin: 0 0.365vw;
          }
        }
      }

      & .info{
        display: flex;
        gap: 0.52vw;

        & img{
          width: 1.8vw;
          margin-top: -0.55vw;
        }
      }

      & .arrow {
        position: absolute;
        width: 0;
        height: 0;
        top: 1.3vw;
        border-top: 0.78vw solid transparent;
        border-bottom: 0.78vw solid transparent;
        z-index: 1;
      }
    }

    & .circle {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 1.56vw;
      width: 3.12vw;
      height: 3.12vw;
      background: var(--card);
      border-radius: 50%;
      z-index: 10;
    }

    & img {
      width: 70%;
      height: auto;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background: var(--card);
    z-index: -1;
    left: 50%;
    top: 0;
  }
}

.gold {
  box-shadow: 0 0 10px 5px rgba(255, 215, 0, 0.6); /* Golden glow */
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 0 20px 10px rgba(255, 215, 0, 0.9);
  }
}

/* MEDIA QUERIES */

/* Tablets */
@media screen and (max-width: 1050px) {
  /* Home Page */

  main {
    flex-direction: column;
    text-align: center;
  }

  .welcome {
    font-size: 8.4vw;
  }

  div.intro {
    font-size: 10vw;
  }

  .animation,
  .animation div div {
    height: 8.6vw;
    margin-bottom: 4.68vw;
  }

  @keyframes text-animation {
    0%,
    15%,
    90%,
    100% {
      margin-top: -0.84vw;
    }

    30%,
    45% {
      margin-top: -14.4vw;
    }

    60%,
    70% {
      margin-top: -27.8vw;
    }
  }

  .third div img {
    width: 6.2vw;
    height: 6.2vw;
  }

  /* Projects Page */

  .timeline {
    max-width: 90vw;
    margin: 1.04vw auto;

    & .container {
      padding: 1.04vw 5.2vw;

      &:nth-child(odd) {
        left: 0;
        & .circle {
          right: -3.12vw;
        }

        & .textbox .arrow {
          right: -0.78vw;
          border-left: 3vw solid var(--card);
        }
      }

      &:nth-child(even) {
        left: 50%;
        & .circle {
          left: -3.12vw;
        }

        & .textbox .arrow {
          left: -0.78vw;
          border-right: 3vw solid var(--card);
        }
      }

      & .textbox {
        font-size: 2.08vw;

        & .head {
          & .stack {
            justify-content: space-around;
            flex-wrap: wrap;

            & img {
              width: 5.208vw;
              margin: 0 0.5vw;
            }
          }
        }

        & .info {
          gap: 1.04vw;

          & img {
            width: 2.6vw;
            margin-top: -0.65vw;
          }
        }

        & .arrow {
          top: 1.4vw;
          border-top: 4vw solid transparent;
          border-bottom: 4vw solid transparent;
        }
      }

      & .circle {
        top: 3.12vw;
        width: 6.24vw;
        height: 6.24vw;
      }

      & img {
        width: 70%;
        height: auto;
      }
    }
  }

  /* About Page */

  .about-section {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }

  .profile,
  .description {
    width: 100%;
  }

  h2.name {
    font-size: 5.2vw;
  }

  p.formal_intro {
    font-size: 2.92vw;
  }

  #handles .logo {
    width: 4.68vw;
    height: 4.68vw;
  }

  /* Navbar */

  nav.bar {
    padding: 1.04w;
    border-top: var(--text) solid 0.2vw;
  }

  .for-else nav.bar {
    border-bottom: var(--text) solid 0.2vw;
  }

  .navtab {
    font-size: 3vw;
  }

  .navtab::after {
    height: 0.1vw;
  }

  /* Theme Button */

  #theme {
    top: 2.6vw;
    right: 2.6vw;
    padding: 0.82vw;
  }

  #theme img {
    height: 3.7vw;
    width: 3.7vw;
  }

  .for-else #theme {
    bottom: 3.12vw;
    right: 3.12vw;
  }
}

/* Mobiles */
@media screen and (max-width: 500px) {
  /* Home Page */

  .welcome {
    font-size: 10.5vw;
  }

  div.intro {
    font-size: 12.5vw;
  }

  .animation,
  .animation div div {
    height: 10.75vw;
    margin-bottom: 5.85vw;
  }

  @keyframes text-animation {
    0%,
    15%,
    90%,
    100% {
      margin-top: -1.05vw;
    }

    30%,
    45% {
      margin-top: -18vw;
    }

    60%,
    70% {
      margin-top: -34.75vw;
    }
  }

  .third div img {
    width: 7.75vw;
    height: 7.75vw;
  }

  /* Projects Page */

  .timeline {
    top: 7vw;

    &::after {
      left: 20px;
    }

    & .container {
      width: 90%;
      padding-left: 50px;
      padding-right: 25px;

      &:nth-child(odd) {
        left: 0;

        & .circle {
          left: 0;
        }

        & .textbox .arrow {
          left: -1.8vw;
          border-right: 4vw solid var(--card);
          border-left: 0;
        }
      }

      &:nth-child(even) {
        left: 0;
        & .circle {
          left: 0;
        }

        & .textbox .arrow {
          left: -1.8vw;
          border-right: 4vw solid var(--card);
          border-left: 0;
        }
      }

      & .textbox {
        font-size: 3.5vw;

        & .head .stack img {
          width: 7vw;
          margin: 0 0.2vw;
        }

        & .arrow {
          top: 2vw;
          border-top: 6vw solid transparent;
          border-bottom: 6vw solid transparent;
        }

        & .info img {
          width: 4.0vw;
          margin-top: -1.0vw;
        }
      }

      & .circle {
        top: 3.12vw;
        width: 10vw;
        height: 10vw;
      }

      & img {
        width: 70%;
        height: auto;
      }
    }
  }

  /* About Page */

  h2.name {
    font-size: 6.3vw;
  }

  p.formal_intro {
    font-size: 4.5vw;
    padding: 2%;
  }

  #handles .logo {
    width: 6vw;
    height: 6vw;
  }

  nav.bar {
    padding: 2vw;
    border-top: var(--text) solid 0.5vw;
  }

  .navtab {
    font-size: 5vw;
  }

  .navtab::after {
    height: 0.2vw;
  }

  /* Hamburger Menu */

  .for-else nav.bar {
    display: none;
  }

  .hamburger-menu,
  .sidebar {
    display: flex;
  }

  /* Theme Button*/

  #theme {
    padding: 1vw;
  }

  #theme img {
    height: var(--hamburger-height);
    width: auto;
  }

  .for-else #theme {
    position: absolute;
    top: calc(var(--hamburger-margin) - 0.7vw);
    right: calc(2 * var(--hamburger-margin) + var(--bar-width) + 1.3vw);
    bottom: auto;
  }
}
