@font-face {
    font-family: CascadiaCode;
    src: url(Fonts/CascadiaCode_Regular.ttf);
}

@font-face {
    font-family: FiraCode;
    src: url(Fonts/FiraCode_Retina.ttf);
}

body {
    background-color: #000099;
}

h1 {
    font-family: CascadiaCode;
    color: white;
}

h2 {
    font-family: FiraCode;
    color: white;
}

h3 {
    font-family: FiraCode;
    color: white;
}

